about-time==4.2.1
aiohttp==3.9.5
aiosignal==1.3.1
alive-progress==3.1.5
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
brainboost_data_source_requests_package==0.1.0
brainboost-data-tools-json-package==1.0.0
certifi==2024.2.2
charset-normalizer==3.3.2
dnspython==2.6.1
editdistance==0.8.1
exceptiongroup==1.2.1
filelock==3.14.0
frozenlist==1.4.1
grapheme==0.6.0
idna==3.7
iniconfig==2.0.0
Levenshtein==0.25.1
mocker==1.1.1
multidict==6.0.5
packaging==24.0
pip==22.0.2
pluggy==1.5.0
pypdf==4.2.0
PySocks==1.7.1
pytest==8.2.0
pytest-asyncio==0.23.6
rapidfuzz==3.9.0
requests==2.31.0
requests-file==2.0.0
schedule==1.2.1
search-engines==0.5
setuptools==59.6.0
soupsieve==2.5
tinydb==3.8.1
tld==0.13
tldextract==5.1.2
tomli==2.0.1
tqdm==4.66.4
typing_extensions==4.11.0
urllib3==2.2.1
wheel==0.43.0
whois==1.20240129.2
yarl==1.9.4
stem